.footer-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 62vh;
  background-color: var(--black-color);
  color: var(--white-color);
}

.footer-row {
  flex-direction: column;
  width: 100%;
  background-color: var(--black-color);
  color: var(--white-color);
  overflow: hidden;
  margin-top: 50px;
}

.footer-info {
  font-size: 35px;
  padding: 30px 0 100px 30px;
  width: 100%;
  text-align: center;
}

.footer-contact {
  font-size: 22px;
  width: 100%;
  text-align: center;
}

.sns-links {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sns-item {
  margin-left: 10px;
  margin-right: 10px;
}

.coffee {
  padding-top: 20px;
}

.linkedin,
.github,
.twitter,
.facebook {
  background-color: var(--black-color);
  border-radius: 100%;
}

.linkedin:hover,
.twitter:hover,
.facebook:hover {
  background-color: var(--white-color);
  transform: scale(1.5);
  transition: all 0.5s ease-out;
}

.github:hover {
  background-color: var(--primary-color);
  transform: scale(1.5);
  transition: all 0.5s ease-out;
}


.timeline {
  display: inline-block;
  flex-direction: row;
  width: 90%;
  height: 20px;
  list-style: none;
  margin: 80px auto;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 45%,
    var(--primary-color) 51%,
    rgba(255, 255, 255, 0) 59%,
    rgba(255, 255, 255, 0) 100%
  );
}

.timeline li:hover {  
  transform: scale(1.2);
  transition: 1s;
}

.timeline:after {
  display: inline-block;
  content: "";
  width: 100%;
}

.timeline li {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: var(--secondary-color);
  text-align: center;
  line-height: 1;
  position: relative;
  border-radius: 50%;
  margin-right: 70px;
  margin-left: 70px;
}

.timeline li:before {
  display: inline-block;
  content: attr(data-year);
  font-size: 26px;
  color: var(--white-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline li:nth-child(odd):before {
  top: -40px;
}
.timeline li:nth-child(even):before {
  bottom: -40px;
}

.timeline li:after {
  display: inline-block;
  content: attr(data-text);
  font-size: 16px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline li:nth-child(odd):after {
  bottom: 0;
  margin-bottom: -10px;
  transform: translate(-50%, 100%);
}
.timeline li:nth-child(even):after {
  top: 0;
  margin-top: -10px;
  transform: translate(-50%, -100%);
}

.footer-experience {
  font-size: 22px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 70vh;
}

.popover-inner {
  padding-bottom: 5px;
  padding-top: 5px;
  width: 200px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.popover-header {
  background-color: var(--secondary-color);
  color: var(--textprimary-color);
  text-shadow: black 3px 3px 3px;
  font-weight: bold;
  width: 200px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 10px;
  text-align: center;
}

.popover-header > h3 {
  box-shadow: none;
  text-shadow: none;
  text-decoration: none;
}

.popover-body {
  background-color: white;
  width: 200px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 10px;
  text-align: center;
}
.opacity {
  opacity: 0.5;
}

@media only screen and (max-width: 1423px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: var(--black-color);
    color: var(--white-color)
  }

  .footer-row {
    flex-direction: column;
    width: 100%;
    background-color: var(--black-color);
    color: var(--white-color);
    overflow: hidden;
  }

  .footer-info {
    text-align: center;
    padding: 30px 0 20px 0;
    font-size: 20px;
  }

  .footer-contact {
    font-size: 16px;
    text-align: center;
  }

  .timeline {
    display: inline-block;
    width: auto;
    height: 20px;
    transform: rotate(90deg);
    list-style: none;
    margin: 220px auto;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 45%,
      var(--primary-color) 51%,
      rgba(255, 255, 255, 0) 57%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .opacity {
    opacity: 0.5;
  }

  .timeline:after {
    display: inline-block;
    content: "";
    width: 100%;
  }

  .timeline li {
    width: 20px;
    height: 20px;
    background: var(--primary-color);
    text-align: center;
    line-height: 1;
    position: relative;
    margin-right: 0px;
    margin-left: 80px;
  }

  .timeline li:before {
    display: inline-block;
    content: attr(data-year);
    font-size: 26px;
    color: var(--white-color);
  }

  .timeline li:nth-child(odd):before {
    top: -40px;
  }
  .timeline li:nth-child(even):before {
    bottom: -40px;
  }

  .timeline li:after {
    display: inline-block;
    content: attr(data-text);
    font-size: 16px;
    position: absolute;
    left: 50%;
  }

  .timeline li:nth-child(odd):after {
    bottom: 0;
    margin-bottom: -10px;
    transform: translate(-50%, 100%);
  }
  .timeline li:nth-child(even):after {
    top: 0;
    margin-top: -10px;
  }

  .footer-experience {
    font-size: 22px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
  }

  .popover-inner {
    margin-left: 5px;
    margin-right: 5px;
    width: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .popover-header {
    background-color: var(--secondary-color);
    color: var(--textprimary-color);
    text-shadow: black 3px 3px 3px;
    width: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
    text-align: center;
  }

  .popover-body {
    background-color: white;
    width: 200px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px;
    text-align: center;
  }
}
